{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Accounts</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{% static "index.css" %}">
    <link rel="stylesheet" href="{% static "css/layout.css" %}">

</head>
<body>


<div class="mdl-layout mdl-js-layout">

    <section class="container ">

        <div id="cube" class="show-front">
            <figure class="front">
                <div class="mdl-card mdl-shadow--6dp featured">
                    <div class="contain">
                        <h2 class="box"></h2>
                        <div class="logo-img"><img src="{% static '/img/logotwo.jpg' %}"></div>
                        <div><h2 class="fonto"> Admin Login </h2></div>

                    </div>
                    {% block messages %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="mdl-color-text--red">  <!-- singular -->
                                    {{ message|safe }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endblock %}
                    <form method="post">
                        {% csrf_token %}
                        <div class="mdl-card__supporting-text">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mylabel">
                                {{ form.email_address }}
                                <label class="mdl-textfield__label" for="login">Username or Email </label>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mylabel">
                                {{ form.password }}
                                <label class="mdl-textfield__label" for="password">Password</label>
                            </div>
                        </div>
                        <div class="mdl-grid">
                            <button class="mdl-cell mdl-cell--12-col mdl-color--blue-grey-900
                                    mdl-button mdl-button--raised mdl-button--colored
                                    mdl-js-button mdl-js-ripple-effect
                                     mdl-color-text--white  mybtn">
                                LOGIN
                            </button>

                        </div>
                    </form>


                    <div class="mdl-card__actions mdl-card--border">
                        <div class="mdl-grid">
                            <div class="lost">
                                <a onClick='flip("show-bottom")' class="recovery" style="float: right">Lost
                                    Password?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </figure>
            <figure class="bottom">
                <div class="mdl-card mdl-shadow--6dp">
                    <div class="mdl-card__title mdl-color--blue-grey-900 mdl-color-text--white relative recover-tab">
                        <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"
                           onClick='flip("show-front")'>
                            <i class="material-icons">arrow_back</i>
                        </a>
                        <h2 class="mdl-card__title-text rec-tab">Lost Password</h2>
                    </div>


                    <div class="mdl-card__supporting-text">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="email" id="email"/>
                            <label class="mdl-textfield__label" for="email">E-Mail</label>
                        </div>
                    </div>

                    <div class="mdl-card__actions mdl-card--border">
                        <div class="mdl-grid">
                            <button class="mdl-cell mdl-cell--12-col mdl-button mdl-button--raised
                                    mdl-color--blue-grey-900
                                     mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-color-text--white mybtn">
                                Reset Password
                            </button>
                        </div>
                    </div>
                </div>
            </figure>
        </div>


    </section>
</div>

<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<script
        src="https://code.jquery.com/jquery-1.12.4.js"
        integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
        crossorigin="anonymous"></script>
<script>
    window.flip = function (flip) {
        $('#cube').removeClass();
        $('#cube').addClass(flip);
    }
</script>
</body>
</html>