{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'payments_cash_list' %}">cash Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>name</td>
    <td>slug</td>
    <td>created</td>
    <td>last_updated</td>
    <td>items</td>
    <td>amount_payed</td>
    <td>total_cost</td>
    <td>balance</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.name }}</td>
    <td>{{ object.slug }}</td>
    <td>{{ object.created }}</td>
    <td>{{ object.last_updated }}</td>
    <td>{{ object.items }}</td>
    <td>{{ object.amount_payed }}</td>
    <td>{{ object.total_cost }}</td>
    <td>{{ object.balance }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'payments_cash_create' %}">Create new cash</a>
{% endblock %}